{% load static %} 
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    </head>
    <body>
        <!-- Hero -->
        <div class="hero" id "home">
			<header>
				<nav class="navbar">
					<div class="brand">
						<h2>GVNK</h2>
					</div>
					
                    <!-- Creating the menu -->
					<ul class="menu" id="menu">
						<li><a href="#">Home</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
					<div class="menu-bar">
						<i class="fas fa-bars" id="menu-bar"></i>
					</div>
				</nav>	
			</header>
        
        <!-- Page Title -->
			
		    <main class="main">
					<div data-aos="fade-right" data-aos-duration="2000">

						<div class="content-info">
							<h1 class="display-1">GIVANIK</h1>
							<h3>IT'S UP TO YOU</h3>	
							<div class="button-content">
								<button class="btn-toBuy">Buy Now</button>
								<button class= "read-more">Read More</button>
							</div>
						</div>
					</div>
					<div data-aos="fade-left" data-aos-duration="2000">
						<img src="{% static './img/imagen_ principal.png' %}" alt="">
					</div>
					
				</main>
			</div>
       
        <!--ABOUT SECTION -->
		
        <section class="about">
			<h2>About us</h2>
			<div class="divider"></div>
			<div class="about-content"  data-aos="fade-up" data-aos-duration="2000">
			<img src="https://res.cloudinary.com/michaelxk-com/image/upload/v1632803224/img%20headphone/second_sxlnxx.png" alt="">
			<div class="about-info">
				<h3>What is GIVANIK?</h3>
				<p>Givanic is one of the best hardware creators (Mainboards, graphics cards, mouse, headphones). On this page you can find the best headphones on the market at a spectacular price </p>
				<button class="btn-toBuy">Buy Now</button>
			</div>
			</div>
		</section>

		<!---PRODUCTS SECTION -->
		<section class="products" id="products">
			<h2>Products</h2>
			<div class="divider"></div>
			<div class="containter-product" data-aos="fade-up" data-aos-duration="2000">
			<article>
				<imagen src="https://res.cloudinary.com/michaelxk-com/image/upload/v1632803259/img%20headphone/190198828613-1-sx-removebg-preview_1_gkbgpq.png" alt="" >
				<div class="content-product-info">
					<div class="stars">
						<img src="./img/vectores/Frame 1.png" alt="">
            			<img src="./img/vectores/Frame 1.png" alt="">
            			<img src="./img/vectores/Frame 1.png" alt="">
					</div>
					<h4>Product-1</h4>
				</div>
				<div class "content-price">
					<h3 class="last-price">US $35.99</h3>
					<h3 class="new-price">US $22.99</h3>
				</div>
				<div class="btn-content">
					<button class="btn-product">More Info</button>
				</div>
			</article>
			<article>
				<img src="https://res.cloudinary.com/michaelxk-com/image/upload/v1632803259/img%20headphone/71tuneVA4hL_1_v6wipo.png" alt="">
					<div class="content-product-info">
						<div class="stars">
							<img src="./img/vectores/Frame 1.png" alt="">
							<img src="./img/vectores/Frame 1.png" alt="">
							<img src="./img/vectores/Frame 1.png" alt="">
						</div>
						<h4>Product-2</h4>
					</div>
					<div class="content-price">
						<h3 class="last-price">US $49.99</h3>
						<h3 class="new-price">US $29.99</h3>
					</div>
					<div class="btn-content">
						<button class="btn-content">More Info</button>
					</div>
			</article>
			<article>
				<img src="https://res.cloudinary.com/michaelxk-com/image/upload/v1632803259/img%20headphone/71tuneVA4hL_1_v6wipo.png" alt="">
					<div class="content-product-info">
						<div class="stars">
							<img src="./img/vectores/Frame 1.png" alt="">
							<img src="./img/vectores/Frame 1.png" alt="">
							<img src="./img/vectores/Frame 1.png" alt="">
						</div>
						<h4>Product-3</h4>
					</div>
					<div class="content-price">
						<h3 class="last-price">US $59.99</h3>
						<h3 class="new-price">US $39.99</h3>
					</div>
					<div class="btn-content">
						<button class="btn-content">More Info</button>
					</div>
			</article>
		</section>




		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	    <script src="{% static 'js/scripts.js' %}"></script>
    
    </body>
</html>